{
    "extends": [
      "plugin:react/recommended",
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "flowtype"
    ],
    "env": {
        "browser": true
    },
    "rules": {
      "react/prop-types": 0,
      "camelcase": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "no-underscore-dangle": 0,
      "arrow-body-style": [0, "never"],
      "import/prefer-default-export": 0
    }
}
